<<<<<<< HEAD
<div id="page-wrapper">
  <!-- Banner -->
  <section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

      <header>
        <h2>TWENTY</h2>
      </header>
      <p>This is <strong>Twenty</strong>, a free
        <br />
        responsive template
        <br />
        by <a href="http://html5up.net">HTML5 UP</a>.</p>
      <footer>
        <ul class="buttons vertical">
          <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
        </ul>
      </footer>

    </div>

  </section>



</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
=======
<h1>Orgs#index</h1>
<p>Find me in app/views/orgs/index.html.erb</p>
>>>>>>> f6cf5f8505109e53389e9131e7b86cd780faadcd
