<html> 
<h1>This is our news feed! I do not think it works tho. We are working on it.</h1><!-- 
<div style="width: 158px; border: #000000 1px solid; background-color: #339999; text-align: left; padding: 0px 2px 7px 2px; position: absolute; visibility: visible; left: 100px; top: 100px; z-index:3;">
<div style="color: #FFFFFF; font: 13px arial, sans-serif; font-weight: bold; text-align: center; padding: 3px;">
Floating Sample<br>
</div>
<iframe id="NewsWindow" seamless src="news_win.htm" width="700" height="404" marginwidth="0" marginheight="0" frameborder="0" scrolling="yes" style="display: block; margin: 0 auto; padding: 0; border: #000000 1px solid;"></iframe>
</div> -->

<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1445691700494");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
</html>