 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size:22px;" href="#">
                	UberTutor
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><%=link_to "Sign Up", new_user_registration_path, class: "btn btn-lg"%></li>
                    <% if !user_signed_in? %>
                        <li> <%=link_to "Log In", new_user_session_path, class: "btn btn-lg" %></li>
                    <% else %>
                      <li> <%= link_to "LOG OUT", destroy_user_session_path, class: "btn btn-lg", :method => :delete %></li>
                    <% end %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Make an Impact</h1>
                <p>Catchy sentence about UberTutor #Swag.</p>
                    <%=link_to "Start Today", new_user_registration_path, class: "btn btn-primary btn-lg"%>
            </div>
        </div>
    </header>

	<!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
                    <h2 class="section-heading">#Swag</h2>
                    <p class="text-light">Professionally cultivate one-to-one parent service. Bridging the 
                        gap between small children and parents.</p>
                </div>
            </div>
        </div>
    </section>

		
		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>

